.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.tar.gz
*.out

CASdatasets.Rcheck/
web-index-page/

R repository local.R
nonacii-detect.R
new-example.R
make-NEWS-datalist-files.R
compress dataset file.R
check-ref-namespace.R
